In [67]:
import pandas as pd

In [68]:
df = pd.read_csv('adult.csv')

In [69]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K
13,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,>50K
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K
22,72,?,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States,<=50K
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
48813,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
48814,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
48815,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
48816,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
48817,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
48818,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
48819,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
48820,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
48821,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
48822,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
48823,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
48824,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
48825,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
48826,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
48827,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
48828,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
48829,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
48830,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
48831,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
48832,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
48833,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
48834,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
48835,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
48836,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age               48842 non-null int64
workclass         48842 non-null object
fnlwgt            48842 non-null int64
education         48842 non-null object
education-num     48842 non-null int64
marital-status    48842 non-null object
occupation        48842 non-null object
relationship      48842 non-null object
race              48842 non-null object
sex               48842 non-null object
capital-gain      48842 non-null int64
capital-loss      48842 non-null int64
hours-per-week    48842 non-null int64
native-country    48842 non-null object
class             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [37]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
class             0
dtype: int64

In [38]:
a=df['workclass'].unique()

In [39]:
a[2]

' ?'

In [40]:
df['education'].value_counts()

 HS-grad         15784
 Some-college    10878
 Bachelors        8025
 Masters          2657
 Assoc-voc        2061
 11th             1812
 Assoc-acdm       1601
 10th             1389
 7th-8th           955
 Prof-school       834
 9th               756
 12th              657
 Doctorate         594
 5th-6th           509
 1st-4th           247
 Preschool          83
Name: education, dtype: int64

In [41]:
df['workclass'].replace(a[2],'Private',inplace=True)

In [42]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,Private,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,Private,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K
13,58,Private,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,>50K
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K
22,72,Private,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States,<=50K
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,30,Private,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
48813,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
48814,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
48815,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
48816,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
48817,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
48818,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
48819,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
48820,71,Private,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
48821,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
48822,41,Private,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
48823,72,Private,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
48824,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
48825,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
48826,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
48827,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
48828,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
48829,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
48830,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
48831,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
48832,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
48833,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
48834,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
48835,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
48836,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [43]:
b=df['native-country'].value_counts()

In [44]:
b[2]
import numpy as np

In [45]:
df['occupation'].replace(' ?',np.nan,inplace=True)

In [46]:
df['native-country'].unique()

array([' United-States', ' ?', ' Peru', ' Guatemala', ' Mexico',
       ' Dominican-Republic', ' Ireland', ' Germany', ' Philippines',
       ' Thailand', ' Haiti', ' El-Salvador', ' Puerto-Rico', ' Vietnam',
       ' South', ' Columbia', ' Japan', ' India', ' Cambodia', ' Poland',
       ' Laos', ' England', ' Cuba', ' Taiwan', ' Italy', ' Canada',
       ' Portugal', ' China', ' Nicaragua', ' Honduras', ' Iran',
       ' Scotland', ' Jamaica', ' Ecuador', ' Yugoslavia', ' Hungary',
       ' Hong', ' Greece', ' Trinadad&Tobago',
       ' Outlying-US(Guam-USVI-etc)', ' France', ' Holand-Netherlands'],
      dtype=object)

In [47]:
df['occupation'].fillna(method='ffill',inplace=True)

In [48]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,Private,103497,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,Private,227026,HS-grad,9,Never-married,Other-service,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K
13,58,Private,299831,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,35,United-States,<=50K
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,>50K
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K
22,72,Private,132015,7th-8th,4,Divorced,Other-service,Not-in-family,White,Female,0,0,6,United-States,<=50K
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,30,Private,33811,Bachelors,13,Never-married,Sales,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
48813,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
48814,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
48815,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
48816,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
48817,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
48818,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
48819,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
48820,71,Private,287372,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,10,United-States,>50K
48821,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
48822,41,Private,202822,HS-grad,9,Separated,Adm-clerical,Not-in-family,Black,Female,0,0,32,United-States,<=50K
48823,72,Private,129912,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,25,United-States,<=50K
48824,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
48825,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
48826,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
48827,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
48828,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
48829,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
48830,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
48831,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
48832,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
48833,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
48834,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
48835,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
48836,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [49]:
df['occupation'].unique()

array([' Machine-op-inspct', ' Farming-fishing', ' Protective-serv',
       ' Other-service', ' Prof-specialty', ' Craft-repair',
       ' Adm-clerical', ' Exec-managerial', ' Tech-support', ' Sales',
       ' Priv-house-serv', ' Transport-moving', ' Handlers-cleaners',
       ' Armed-Forces'], dtype=object)

In [50]:
df['class'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [51]:
df.replace({' <=50K':2,' >50K':1},inplace=True)

In [52]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,2
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,2
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,Private,103497,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,30,United-States,2
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,2
6,29,Private,227026,HS-grad,9,Never-married,Other-service,Unmarried,Black,Male,0,0,40,United-States,2
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,1
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,2
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,2
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,1
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,2
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,2
13,58,Private,299831,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,35,United-States,2
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,1
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,1
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,2
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,2
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,2
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,1
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,1
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,2
22,72,Private,132015,7th-8th,4,Divorced,Other-service,Not-in-family,White,Female,0,0,6,United-States,2
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,2
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,2
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,1
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,2
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,2
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,2
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,30,Private,33811,Bachelors,13,Never-married,Sales,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,2
48813,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
48814,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,1
48815,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,2
48816,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,2
48817,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,1
48818,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,2
48819,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,1
48820,71,Private,287372,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,10,United-States,1
48821,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,2
48822,41,Private,202822,HS-grad,9,Separated,Adm-clerical,Not-in-family,Black,Female,0,0,32,United-States,2
48823,72,Private,129912,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,25,United-States,2
48824,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,2
48825,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,2
48826,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,1
48827,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,2
48828,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,2
48829,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,2
48830,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,2
48831,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,2
48832,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,2
48833,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,2
48834,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,2
48835,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
48836,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,2
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,2
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,2
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,2
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [53]:
df['relationship'].unique()

array([' Own-child', ' Husband', ' Not-in-family', ' Unmarried', ' Wife',
       ' Other-relative'], dtype=object)

In [54]:
df1 = df

In [55]:
df.drop(columns='education-num',inplace=True)

In [56]:
df

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,226802,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,2
1,38,Private,89814,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,2
2,28,Local-gov,336951,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,Private,103497,Some-college,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,30,United-States,2
5,34,Private,198693,10th,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,2
6,29,Private,227026,HS-grad,Never-married,Other-service,Unmarried,Black,Male,0,0,40,United-States,2
7,63,Self-emp-not-inc,104626,Prof-school,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,1
8,24,Private,369667,Some-college,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,2
9,55,Private,104996,7th-8th,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,2
10,65,Private,184454,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,1
11,36,Federal-gov,212465,Bachelors,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,2
12,26,Private,82091,HS-grad,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,2
13,58,Private,299831,HS-grad,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,35,United-States,2
14,48,Private,279724,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,1
15,43,Private,346189,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,1
16,20,State-gov,444554,Some-college,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,2
17,43,Private,128354,HS-grad,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,2
18,37,Private,60548,HS-grad,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,2
19,40,Private,85019,Doctorate,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,1
20,34,Private,107914,Bachelors,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,1
21,34,Private,238588,Some-college,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,2
22,72,Private,132015,7th-8th,Divorced,Other-service,Not-in-family,White,Female,0,0,6,United-States,2
23,25,Private,220931,Bachelors,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,2
24,25,Private,205947,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,2
25,45,Self-emp-not-inc,432824,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,1
26,22,Private,236427,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,2
27,23,Private,134446,HS-grad,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,2
28,54,Private,99516,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,2
29,32,Self-emp-not-inc,109282,Some-college,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,30,Private,33811,Bachelors,Never-married,Sales,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,2
48813,34,Private,204461,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
48814,54,Private,337992,Bachelors,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,1
48815,37,Private,179137,Some-college,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,2
48816,22,Private,325033,12th,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,2
48817,34,Private,160216,Bachelors,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,1
48818,30,Private,345898,HS-grad,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,2
48819,38,Private,139180,Bachelors,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,1
48820,71,Private,287372,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,10,United-States,1
48821,45,State-gov,252208,HS-grad,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,2
48822,41,Private,202822,HS-grad,Separated,Adm-clerical,Not-in-family,Black,Female,0,0,32,United-States,2
48823,72,Private,129912,HS-grad,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,25,United-States,2
48824,45,Local-gov,119199,Assoc-acdm,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,2
48825,31,Private,199655,Masters,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,2
48826,39,Local-gov,111499,Assoc-acdm,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,1
48827,37,Private,198216,Assoc-acdm,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,2
48828,43,Private,260761,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,2
48829,65,Self-emp-not-inc,99359,Prof-school,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,2
48830,43,State-gov,255835,Some-college,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,2
48831,43,Self-emp-not-inc,27242,Some-college,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,2
48832,32,Private,34066,10th,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,2
48833,43,Private,84661,Assoc-voc,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,2
48834,32,Private,116138,Masters,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,2
48835,53,Private,321865,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
48836,22,Private,310152,Some-college,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,2
48837,27,Private,257302,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,2
48838,40,Private,154374,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
48839,58,Private,151910,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,2
48840,22,Private,201490,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,2
48841,52,Self-emp-inc,287927,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
age               48842 non-null int64
workclass         48842 non-null object
fnlwgt            48842 non-null int64
education         48842 non-null object
marital-status    48842 non-null object
occupation        48842 non-null object
relationship      48842 non-null object
race              48842 non-null object
sex               48842 non-null object
capital-gain      48842 non-null int64
capital-loss      48842 non-null int64
hours-per-week    48842 non-null int64
native-country    48842 non-null object
class             48842 non-null int64
dtypes: int64(6), object(8)
memory usage: 5.2+ MB

In [58]:
df=df1

In [59]:
df['race'] = dfq['race']

NameError: name 'dfq' is not defined

In [60]:
pd.get_dummies(df['race'])

        Amer-Indian-Eskimo   Asian-Pac-Islander   Black   Other   White
0                        0                    0       1       0       0
1                        0                    0       0       0       1
2                        0                    0       0       0       1
3                        0                    0       1       0       0
4                        0                    0       0       0       1
5                        0                    0       0       0       1
6                        0                    0       1       0       0
7                        0                    0       0       0       1
8                        0                    0       0       0       1
9                        0                    0       0       0       1
10                       0                    0       0       0       1
11                       0                    0       0       0       1
12                       0                    0       0       0       1
13                       0                    0       0       0       1
14                       0                    0       0       0       1
15                       0                    0       0       0       1
16                       0                    0       0       0       1
17                       0                    0       0       0       1
18                       0                    0       0       0       1
19                       0                    1       0       0       0
20                       0                    0       0       0       1
21                       0                    0       1       0       0
22                       0                    0       0       0       1
23                       0                    0       0       0       1
24                       0                    0       0       0       1
25                       0                    0       0       0       1
26                       0                    0       0       0       1
27                       0                    0       1       0       0
28                       0                    0       0       0       1
29                       0                    0       0       0       1
...                    ...                  ...     ...     ...     ...
48812                    0                    1       0       0       0
48813                    0                    0       0       0       1
48814                    0                    1       0       0       0
48815                    0                    0       0       0       1
48816                    0                    0       1       0       0
48817                    0                    0       0       0       1
48818                    0                    0       1       0       0
48819                    0                    0       1       0       0
48820                    0                    0       0       0       1
48821                    0                    0       0       0       1
48822                    0                    0       1       0       0
48823                    0                    0       0       0       1
48824                    0                    0       0       0       1
48825                    0                    0       0       1       0
48826                    0                    0       0       0       1
48827                    0                    0       0       0       1
48828                    0                    0       0       0       1
48829                    0                    0       0       0       1
48830                    0                    0       0       0       1
48831                    0                    0       0       0       1
48832                    1                    0       0       0       0
48833                    0                    0       0       0       1
48834                    0                    1       0       0       0
48835                    0                    0       0       0       1
48836                    0                    0       0       0       1
48837                    0                    0       0       0       1
48838                    0                    0       0       0       1
48839                    0                    0       0       0       1
48840                    0                    0       0       0       1
48841                    0                    0       0       0       1

[48842 rows x 5 columns]

In [61]:
df['race'] = dfq['race']

NameError: name 'dfq' is not defined

In [62]:
df=pd.get_dummies(df['race'])

In [63]:
df

        Amer-Indian-Eskimo   Asian-Pac-Islander   Black   Other   White
0                        0                    0       1       0       0
1                        0                    0       0       0       1
2                        0                    0       0       0       1
3                        0                    0       1       0       0
4                        0                    0       0       0       1
5                        0                    0       0       0       1
6                        0                    0       1       0       0
7                        0                    0       0       0       1
8                        0                    0       0       0       1
9                        0                    0       0       0       1
10                       0                    0       0       0       1
11                       0                    0       0       0       1
12                       0                    0       0       0       1
13                       0                    0       0       0       1
14                       0                    0       0       0       1
15                       0                    0       0       0       1
16                       0                    0       0       0       1
17                       0                    0       0       0       1
18                       0                    0       0       0       1
19                       0                    1       0       0       0
20                       0                    0       0       0       1
21                       0                    0       1       0       0
22                       0                    0       0       0       1
23                       0                    0       0       0       1
24                       0                    0       0       0       1
25                       0                    0       0       0       1
26                       0                    0       0       0       1
27                       0                    0       1       0       0
28                       0                    0       0       0       1
29                       0                    0       0       0       1
...                    ...                  ...     ...     ...     ...
48812                    0                    1       0       0       0
48813                    0                    0       0       0       1
48814                    0                    1       0       0       0
48815                    0                    0       0       0       1
48816                    0                    0       1       0       0
48817                    0                    0       0       0       1
48818                    0                    0       1       0       0
48819                    0                    0       1       0       0
48820                    0                    0       0       0       1
48821                    0                    0       0       0       1
48822                    0                    0       1       0       0
48823                    0                    0       0       0       1
48824                    0                    0       0       0       1
48825                    0                    0       0       1       0
48826                    0                    0       0       0       1
48827                    0                    0       0       0       1
48828                    0                    0       0       0       1
48829                    0                    0       0       0       1
48830                    0                    0       0       0       1
48831                    0                    0       0       0       1
48832                    1                    0       0       0       0
48833                    0                    0       0       0       1
48834                    0                    1       0       0       0
48835                    0                    0       0       0       1
48836                    0                    0       0       0       1
48837                    0                    0       0       0       1
48838                    0                    0       0       0       1
48839                    0                    0       0       0       1
48840                    0                    0       0       0       1
48841                    0                    0       0       0       1

[48842 rows x 5 columns]

In [64]:
df=pd.get_dummies(df,columns=['race','sex'])

KeyError: "None of [Index(['race', 'sex'], dtype='object')] are in the [columns]"

In [65]:
df.drop(columns=['race_ Amer-Indian-Eskimo','sex_ Female'],inplace=True)

KeyError: "['race_ Amer-Indian-Eskimo' 'sex_ Female'] not found in axis"

In [66]:
df

        Amer-Indian-Eskimo   Asian-Pac-Islander   Black   Other   White
0                        0                    0       1       0       0
1                        0                    0       0       0       1
2                        0                    0       0       0       1
3                        0                    0       1       0       0
4                        0                    0       0       0       1
5                        0                    0       0       0       1
6                        0                    0       1       0       0
7                        0                    0       0       0       1
8                        0                    0       0       0       1
9                        0                    0       0       0       1
10                       0                    0       0       0       1
11                       0                    0       0       0       1
12                       0                    0       0       0       1
13                       0                    0       0       0       1
14                       0                    0       0       0       1
15                       0                    0       0       0       1
16                       0                    0       0       0       1
17                       0                    0       0       0       1
18                       0                    0       0       0       1
19                       0                    1       0       0       0
20                       0                    0       0       0       1
21                       0                    0       1       0       0
22                       0                    0       0       0       1
23                       0                    0       0       0       1
24                       0                    0       0       0       1
25                       0                    0       0       0       1
26                       0                    0       0       0       1
27                       0                    0       1       0       0
28                       0                    0       0       0       1
29                       0                    0       0       0       1
...                    ...                  ...     ...     ...     ...
48812                    0                    1       0       0       0
48813                    0                    0       0       0       1
48814                    0                    1       0       0       0
48815                    0                    0       0       0       1
48816                    0                    0       1       0       0
48817                    0                    0       0       0       1
48818                    0                    0       1       0       0
48819                    0                    0       1       0       0
48820                    0                    0       0       0       1
48821                    0                    0       0       0       1
48822                    0                    0       1       0       0
48823                    0                    0       0       0       1
48824                    0                    0       0       0       1
48825                    0                    0       0       1       0
48826                    0                    0       0       0       1
48827                    0                    0       0       0       1
48828                    0                    0       0       0       1
48829                    0                    0       0       0       1
48830                    0                    0       0       0       1
48831                    0                    0       0       0       1
48832                    1                    0       0       0       0
48833                    0                    0       0       0       1
48834                    0                    1       0       0       0
48835                    0                    0       0       0       1
48836                    0                    0       0       0       1
48837                    0                    0       0       0       1
48838                    0                    0       0       0       1
48839                    0                    0       0       0       1
48840                    0                    0       0       0       1
48841                    0                    0       0       0       1

[48842 rows x 5 columns]

In [ ]:
x=df.drop(columns='class')
y=df['class']

In [ ]:
df.info()

In [ ]:
df['native-country'].value_counts()

In [ ]:
li1=[]

for i in df['native-country']:
    if(i==a[0] or i==a[1] or i==a[2]):
        li1.append(i)
    else:
        li1.append(' other')

In [ ]:
df['native-country']=li1

In [ ]:
np.array(df['native-country'])

In [ ]:
df['native-country']

In [ ]:
a= np.array(df['native-country'].value_counts().index.values)

In [ ]:
a

In [ ]:
df

In [ ]:
df['native-country'].unique()

In [ ]:
df=df1

In [ ]:
df = pd.get_dummies(df['native-country'],drop_first=True)

In [ ]:
df

In [ ]:
df

In [ ]:
df

In [ ]:
df2 = df

In [ ]:
df = pd.get_dummies(data=df,columns=['native-country'])

In [ ]:
df

In [ ]:
df['marital-status'].value_counts()

In [ ]:
df = pd.get_dummies(columns=['marital-status','relationship'],data=df,drop_first=True)

In [ ]:
df

In [ ]:
df['education'].value_counts()

In [ ]:
df = pd.get_dummies(columns=['education','occupation','workclass'],data=df,drop_first=True)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df

In [ ]:
# PCA

In [ ]:
# covarience matrix

In [ ]:
x = df.drop(columns='class')
y = df['class']

In [ ]:
cov = np.cov(x.T)

In [ ]:
cov

In [ ]:
# eigenvalues and eigen vectors
eigval,eigvect = np.linalg.eig(cov)

In [ ]:
eigval

In [ ]:
su = eigval.sum()
er=[]
c=0
for i in eigval:
    c = c + i
    er.append((c/su)*100)

In [ ]:
eigvect

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
er

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
pca = PCA(30).fit(x)

In [ ]:
pcadf = pd.DataFrame(pca.fit_transform(x))

In [ ]:
for i in range(0,30):
    pcadf.rename(columns={i:('PCA')+str(i+1)},inplace=True)

In [ ]:
pcadf

In [ ]:
mdf = pd.concat([pcadf,y],axis=1)

In [ ]:
mdf

In [ ]:
x= mdf.drop(columns='class')
y = mdf['class']

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rfc = RandomForestClassifier()

In [ ]:
rfc.fit(x_train,y_train)

In [ ]:
ytrain_pred = rfc.predict(x_train)
ytrain_prob = rfc.predict_proba(x_train)[:,1]

In [ ]:
from sklearn.metrics import accuracy_score,classification_report,roc_auc_score,roc_curve,confusion_matrix

In [ ]:
accuracy_score(y_train,ytrain_pred)

In [ ]:
ytest_pred = rfc.predict(x_test)
ytest_prob = rfc.predict_proba(x_test)[:,1]

In [ ]:
accuracy_score(y_test,ytest_pred)

In [29]:
from sklearn.model_selection import RandomizedSearchCV

In [30]:
import scipy.stats as st

In [31]:
# Overfit model
params = {
    'n_estimators':st.randint(1,200),
    'criterion':['gini','entropy'],
    'max_depth':st.randint(1,50),
    'min_samples_split':st.randint(1,100),
    'min_samples_leaf':st.randint(1,100),

    'max_features':st.randint(1,30)
 
}

In [32]:
rsv = RandomizedSearchCV(estimator=rfc,param_distributions=params,n_iter=10,n_jobs=-1,cv=10).fit(x,y)

NameError: name 'rfc' is not defined

In [ ]:
rsv.be